<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xummer.screencap</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>8E9BE326-F09A-4CA6-B66D-7CA641FA11F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8D502D0-2861-49B2-8849-3485DCA6D5A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Xummer</string>
	<key>description</key>
	<string>Start a screen record by QuickTime</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QuickTime Screen Capture</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>automator ~/Desktop/ScreenCapture.workflow</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8D502D0-2861-49B2-8849-3485DCA6D5A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screencap</string>
				<key>text</key>
				<string>Start screen capture</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8E9BE326-F09A-4CA6-B66D-7CA641FA11F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8E9BE326-F09A-4CA6-B66D-7CA641FA11F0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D8D502D0-2861-49B2-8849-3485DCA6D5A2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://xummer26.com</string>
</dict>
</plist>
